.border-none {
  border: none;
}

.border {
  border: 1px solid var(--border-color-secondary);

  &:hover {
    border-color: var(--border-color-primary);
  }
}

.border-round {
  border-radius: 50%;
}

@for $i from 0 through 50 {
  .border-radius-#{$i} {
    border-radius: $i * 1px;
  }
}
