@use "../variable" as var;

// positions
@each $position in var.$positions {
  .#{$position} {
    position: $position;
  }
}

// displays
@each $display in var.$displays {
  .#{$display} {
    display: $display;
  }
}

// top, right, bottom, left
@each $dir-label, $dir in var.$dirs {
  .#{$dir-label}-dvh {
    #{$dir}: 100dvh;
  }

  .#{$dir-label}-dvw {
    #{$dir}: 100dvw;
  }

  @for $i from -200 through 200 {
    .#{$dir-label}-#{$i} {
      #{$dir}: $i * 1px;
    }
  }

  @for $i from 1 through 9 {
    .#{$dir-label}-#{$i}\10 {
      #{$dir}: $i * 10%;
    }

    .#{$dir-label}dvw-#{$i}\/10 {
      #{$dir}: $i * 10dvw;
    }

    .#{$dir-label}dwh-#{$i}\/10 {
      #{$dir}: $i * 10dvh;
    }
  }
}

// z-index
@for $z from -100 through -81 {
  .z-#{$z} {
    z-index: $z;
  }
}

@for $z from -8 through -1 {
  .z-#{$z}0 {
    z-index: $z * 10;
  }
}

@for $z from -9 through 9 {
  .z-#{$z} {
    z-index: $z;
  }
}

@for $z from 1 through 8 {
  .z-#{$z}0 {
    z-index: $z * 10;
  }
}

@for $z from 81 through 100 {
  .z-#{$z} {
    z-index: $z;
  }
}

@each $break-label, $break-pt in var.$break-pts {
  @media (max-width: #{$break-pt}px) {
    // positions
    @each $position in var.$positions {
      .#{$break-label}\:#{$position} {
        position: $position;
      }
    }

    // displays
    @each $display in var.$displays {
      .#{$break-label}\:#{$display} {
        display: $display;
      }
    }

    // top, right, bottom, left
    @each $dir-label, $dir in var.$dirs {
      .#{$break-label}\:#{$dir-label}-dvh {
        #{$dir}: 100dvh;
      }

      .#{$break-label}\:#{$dir-label}-dvw {
        #{$dir}: 100dvw;
      }

      @for $i from 0 through 200 {
        .#{$break-label}\:#{$dir-label}-#{$i} {
          #{$dir}: $i * 1px;
        }
      }
    }
  }
}

// others
@each $modifier-label, $modifier in var.$modifiers {
  .a-#{$modifier-label} {
    align-items: $modifier;
  }

  .j-#{$modifier-label} {
    justify-content: $modifier;
  }
}

@for $i from 1 through 50 {
  .gap-#{$i} {
    gap: $i * 1px;
  }
}

.a-content-center {
  align-content: center;
}

.j-items-center {
  justify-items: center;
}
