.buttons {
  vertical-align: top;
  width: 100px;
  height: 100px;
}

.Exercise {
  height: 100px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: solid;
  border-bottom-color: black;
  display: none;
}

#display1 {
  margin-left: 10px;
}

#display2 {
  width: 180px;
  margin-left: 10px;
}

.result {
  float: right;
}