@use '@/styles/variables.scss' as var;
@use '@/styles/layout.scss' as layout;
@use '@/styles/animation.scss' as animation;

.animated-txt {
  &.text-wrap {
    flex-wrap: wrap;
  }
  
  &.text-nowrap {
    flex-wrap: nowrap;
  }
  
  &.justify-start {
    @include layout.flex-row-start;
  }
  
  &.justify-center {
    @include layout.flex-row-center;
  }
  
  &.justify-evenly {
    @include layout.flex-row-evenly;

    .word {
      @include layout.flex-row-evenly;
      flex: 1;
    }
  }
  
  .word {
    display: flex;

    &.whitespace:not(:last-child) {
      &::after {
        content: "\00a0";
      }
    }
    
    .char {
      visibility: hidden;
      position: relative;
      text-align: left;
      text-shadow: 1px 1px 1px rgb(0, 0, 0, .5);

      &.font-size-md {
        font-size: var.$font-size-md;
      }
      
      &.font-size-4xl {
        font-size: var.$font-size-4xl;
      }
    
      &.font-size-giant {
        font-size: var.$font-size-giant;
      }
      
      &.text-transform-cap:nth-child(1) {
        text-transform: capitalize;
      }
      
      &.text-transform-uc {
        text-transform: uppercase;
      }
  
      &.text-transform-lc {
        text-transform: lowercase;
      }

      &.letter-spacing-sm {
        width: .8em;
        height: 1em;
      }

      &.letter-spacing-md {
        width: 1.1em;
        height: 1.2em;
      }

      &.letter-spacing-lg {
        width: 1.5em;
        height: 1.3em;
      }
  
      &.animation-fadeIn {
        @include animation.animate(fadeIn, ease, forwards);
      }
  
      &.animation-fadeInLeft {
        @include animation.animate(fadeInLeft, ease, forwards);
      }
  
      &.animation-fadeInRight {
        @include animation.animate(fadeInRight, ease, forwards);
      }
    }
  }
}