@use '@/styles/variables.scss' as var;
@use '@/styles/layout.scss' as layout;
@use '@/styles/animation.scss' as animation;

.animated-txt {
  position: relative;
  width: 100%;
  height: 100%;
  
  &.flex-letters-start {
    @include layout.flex-row-start;
  }

  &.flex-letters-center {
    @include layout.flex-row-center;
  }

  &.flex-letters-evenly {
    @include layout.flex-row-evenly;
  }

  &.flex-wrap {
    flex-wrap: wrap;
  }

  &.flex-nowrap {
    flex-wrap: nowrap;
  }

  span {
    visibility: hidden;
    position: relative;
    text-align: center;
    text-shadow: 1px 1px 1px rgb(0, 0, 0, .5);

    &.text-transform-cap:nth-child(1) {
      text-transform: capitalize;
    }

    &.text-transform-uc {
      text-transform: uppercase;
    }

    &.text-transform-lc {
      text-transform: lowercase;
    }

    &.font-size-sm {
      font-size: var.$font-size-md;
      width: 1em;
      height: 1em;
    }

    &.font-size-md {
      font-size: var.$font-size-4xl;
      width: 1.1em;
      height: 1.2em;
    }

    &.font-size-lg {
      font-size: var.$font-size-giant;
      width: 1.5em;
      height: 1.3em;
    }

    &.animation-fadeIn {
      @include animation.animate(fadeIn, ease, forwards);
    }

    &.animation-fadeInLeft {
      @include animation.animate(fadeInLeft, ease, forwards);
    }

    &.animation-fadeInRight {
      @include animation.animate(fadeInRight, ease, forwards);
    }
  }
}