@use "sass:map";
@use "../variable" as var;

.bg-none {
  background: none;
}

.bg-primary {
  background-color: var(--bg-color-primary);
}

.bg-secondary {
  background-color: var(--bg-color-secondary);
}

.invert {
  filter: invert(100%);
}

.mix {
  mix-blend-mode: var(--mix-blend-mode);
}

.bg-glassy {
  backdrop-filter: blur(10px);
  box-shadow: inset 0 0 5px var(--bg-opague-color);
  background-color: var(--bg-opague-color);
}

.bg-dark {
  background-color: rgba(map.get(var.$bg-colors, "dark-primary"), 0.5);
}
