.top-line::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 1px;
  background-color: var(--txt-color);
}

.fading-top {
  mask-image: linear-gradient(to top, var(--bg-color-primary), var(--bg-color-primary) 70%, transparent 100%);
}

.glooey {
  filter: blur(5px) contrast(15);
}

.glooey-invert {
  filter: invert(1) blur(5px) contrast(15);
}
