@use '@/styles/layout.scss' as layout;

.switch {
  @include layout.flex-center;
  width: 36px;
  height: 36px;
  font-size: 1rem;
  background: none;
  cursor: pointer;

  .option {
    @include layout.flex-center;
    width: 0px;
    height: 100%;
    opacity: 0;
    transition-property: width, color, opacity;
    transition-duration: 200ms;
    transition-timing-function: ease;

    &.active {
      width: 100%;
      opacity: 1;
    }
  }

  &:hover {
    background: none;
  }
}