@use "@/styles/layout.scss" as layout;
@use "@/styles/transition.scss" as t;

.switch {
  @include layout.flex-row-center;
  width: 36px;
  height: 36px;
  font-size: 1rem;
  background: none;
  color: inherit;
  cursor: pointer;

  .option {
    @include layout.flex-row-center;
    @include t.transition((width, color, opacity));
    width: 0px;
    height: 100%;
    color: inherit;
    opacity: 0;

    &.active {
      width: 100%;
      opacity: 1;
    }
  }

  &:hover {
    background: none;
  }
}
