@use '@/styles/variables.scss' as var;
@use '@/styles/transition.scss' as t;

.scroll-btn {
  position: relative;
  width: var.$btn-width;
  height: var.$btn-height;
  background: none;
  cursor: pointer;

  span {
    font-size: 20px;
    letter-spacing: 2px;
  }

  &::after {
    @include t.transition((width, left));
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 1px;
  }

  &.scroll-btn-dark::after {
    background-color: var.$btn-active-light;
  }
  
  &.scroll-btn-light::after {
    background-color: var.$btn-active-dark;
  }

  &:hover {
    background: none;

    span {
      letter-spacing: 3px;
    }

    &::after {
      left: 0;
      width: var.$btn-width;
    }
  }
}