@use '@/styles/layout.scss' as layout;

.home {
  @include layout.flex-col-center;
  width: 100%;
  height: auto;

  .intro {
    @include layout.flex-col-center;
    position: relative;
    width: 100%;
    height: calc(100vh - 50px);
    background-color: inherit;
    background-position: center;
    background-size: cover;
    background-image: url("@/../public/homepage-bg.png");
    background-attachment: fixed;
    overflow: hidden;

    .text-up {
      position: relative;
      width: auto;
      height: 1.5em;
      visibility: hidden;
      animation: fadein 2000ms ease-in forwards;
      font-size: clamp(2rem, 2vw + 1rem, 4rem);
      text-align: center;
      text-transform: capitalize;
      letter-spacing: .2em;
      user-select: none;
    }

    .text-down {
      @include layout.flex-center;
      flex-wrap: wrap;
      position: relative;
      width: 80%;
      height: auto;
      text-align: center;
      text-transform: uppercase;
      user-select: none;

      .name-1,
      .name-2 {
        @include layout.flex-evenly;
        flex: 1;
        flex-wrap: nowrap;

        span {
          position: relative;
          width: 1em;
          height: 1em;
          visibility: hidden;
          font-size: clamp(3rem, 3vw + 1rem, 10rem);
          animation: fadein 2000ms ease-in forwards;
        }
      }
      
      @for $i from 1 through 5 {
        .name-1 span:nth-child(#{$i}) {
          animation-delay: $i * 200ms;
        }

        .name-2 span:nth-child(#{$i}) {
          animation-delay: ($i + 5) * 200ms;
        }
      }
    }

    @keyframes fadein {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
        visibility: visible;
      }
    }

    .social-media {
      @include layout.flex-evenly;
      flex-wrap: wrap;
      width: max(300px, 50%);
      height: 50px;
      margin-top: 10%;
      background-color: inherit;
      background: none;
    }
  }

  .about {
    width: 100%;
    height: calc(100vh - 50px);
  }

  .project {
    width: 100%;
    height: calc(100vh - 50px);
  }
}