@use '@/styles/variables.scss' as var;
@use '@/styles/animation.scss' as animation;
@use '@/styles/layout.scss' as layout;
@use '@/styles/border.scss' as border;
@use '@/styles/transition.scss' as t;

.home {
  @include layout.flex-row-center;
  position: relative;
  width: 100%;
  height: var.$homepage-height;
  background-color: var(--bg-color);
  background-position: center;
  background-size: cover;
  background-image: url("@/../public/homepage-bg.png");
  color: var(--txt-color);
  overflow: hidden;

  .homepage-bg {
    position: absolute;
    top: 0;
    left: 0;
  }

  .container {
    display: none;
    position: relative;
    width: 100%;
    height: var.$homepage-height;

    &.show {
      @include layout.flex-col-center;
    }

    .intro {
      @include layout.flex-col-center;
      align-items: start;
      width: 80%;
      height: auto;
      user-select: none;

      .contacts {
        @include layout.flex-row-between;
        position: relative;
        width: var.$contact-width;
        margin-top: 2dvh;
        z-index: 10;

        .resume {
          @include layout.flex-row-center;
          position: absolute;
          top: 0;
          left: calc(100% + 10px);
          width: 150px;
          height: calc(100% - 2px);
          margin: 0 var.$btn-margin;
          border: 1px solid;
          border-color: invert(var(--bg-color));
          border-radius: 40px;
          color: inherit;
          
          i {
            margin-left: 5px;
          }

          &:hover i {
            @include animation.animate(fadeToRight, 1000ms, ease, $iteration: infinite);
          }
        }
      }
      
      @media (max-width: var.$sidebarToggleMaxWidth) {
        & {
          margin-top: -10dvh;

          .contacts .resume {
            top: calc(100% + 5dvh);
            left: 0;
            margin: 0;
          }
        }
      }
    }

    .title {
      margin-bottom: 10dvh;
    }

    .about {
      @include layout.flex-col-center;
      width: 80%;
      height: auto;

      .details {
        width: min(100%, 500px);
      }
    }

    .work {
      @include layout.flex-col-center;
      width: 80%;
      height: auto;

      .details {
        width: 100%;
        height: 50dvh;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 5dvh;

        a {
          @include layout.flex-col-center;
          position: relative;
          border-radius: 10px;
          border: 1px solid;
          text-decoration: none;
          overflow: hidden;
          word-break: break-word;
          color: var(--txt-color);
          backdrop-filter: blur(5px);
        }
      }
    }
  }
  
  .page-select {
    @include layout.flex-row-between;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 12vh;

    .btn {
      @include layout.flex-row-center;
      visibility: hidden;
      position: relative;
      background-color: transparent;
      color: inherit;
      width: auto;
      height: var.$btn-height;
      padding: 0 30px;
      margin: 0 var.$btn-margin;
      font-size: var.$font-size-sm;
      cursor: pointer;

      &.show {
        visibility: visible;
      }
      
      i {
        position: absolute;
      }

      &.right i {
        @include animation.animate(infiniteFadeToRight, 2000ms, ease, none, 0ms, infinite);
        left: calc(100% - 20px);
      }

      &.left i {
        @include animation.animate(infiniteFadeToLeft, 2000ms, ease, none, 0ms, infinite);
        right: calc(100% - 20px);
      }
      
      i.faint {
        animation-delay: 450ms;
      }
    }
  }
}