@use '@/styles/variables.scss' as var;
@use '@/styles/animation.scss' as animation;
@use '@/styles/layout.scss' as layout;
@use '@/styles/border.scss' as border;
@use '@/styles/transition.scss' as t;

.home {
  @include layout.flex-col-center;
  position: relative;
  width: 100%;
  height: var.$homepage-height;
  background-color: var(--bg-color);
  background-position: center;
  background-size: cover;
  background-image: url("@/../public/homepage-bg.png");
  color: var(--txt-color);
  overflow: hidden;

  .container {
    display: none;
    width: 100%;
    height: var.$homepage-height;

    &.show {
      @include layout.flex-col-center;
    }

    .intro {
      @include layout.flex-col-center;
      align-items: start;
      width: 80%;
      height: auto;

      .contacts {
        @include layout.flex-row-between;
        width: var.$contact-width;
      }
    }
  }
}