@mixin animate(
  $name: fadeIn,
  $duration: 0ms,
  $tfunc: ease,
  $mode: forwards,
  $delay: 0ms,
  $iteration: 1
) {
  animation-name: $name;
  animation-duration: $duration;
  animation-timing-function: $tfunc;
  animation-fill-mode: $mode;
  animation-delay: $delay;
  animation-iteration-count: $iteration;
}

@keyframes spawnIn {
  from {
    display: none;
  }
  to {
    display: flex;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInTop {
  from {
    top: -5em;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes fadeInLeft {
  from {
    left: -5em;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}

@keyframes fadeInBottom {
  from {
    bottom: -5em;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
    visibility: visible;
  }
}

@keyframes fadeInRight {
  from {
    right: -5em;
    opacity: 0;
  }
  to {
    right: 0;
    opacity: 1;
    visibility: visible;
  }
}

@keyframes scaleIn {
  from {
    scale: 0;
    opacity: 0;
  }
  to {
    scale: 1;
    opacity: 1;
    visibility: visible;
  }
}

@keyframes fadeToRight {
  from {
    transform: none;
    opacity: 1;
  }
  to {
    transform: translateX(5px);
    opacity: 0;
  }
}

@keyframes infiniteFadeToRight {
  0%,
  9.99%,
  90.01%,
  100% {
    transform: none;
    opacity: 0;
  }
  10% {
    transform: none;
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  90% {
    transform: translateX(8px);
    opacity: 0;
  }
}

@keyframes infiniteFadeToLeft {
  0%,
  9.99%,
  90.01%,
  100% {
    transform: none;
    opacity: 0;
  }
  10% {
    transform: none;
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  90% {
    transform: translateX(-8px);
    opacity: 0;
  }
}

@keyframes test {
  from {
    transform: none;
    opacity: 1;
  }
  to {
    transform: translateX(5px);
    opacity: 0;
  }
}
