@mixin animate($name: fadeIn,
  $duration: 0ms,
  $tfunc: ease,
  $mode: forwards,
  $delay: 0ms,
  $iteration: 1) {
  animation-name: $name;
  animation-duration: $duration;
  animation-timing-function: $tfunc;
  animation-fill-mode: $mode;
  animation-delay: $delay;
  animation-iteration-count: $iteration;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeInLeft {
  from {
    left: -5em;
    opacity: 0;
  }

  to {
    left: 0;
    opacity: 1;
  }
}

@keyframes fadeInRight {
  from {
    right: -5em;
    opacity: 0;
  }

  to {
    right: 0;
    opacity: 1;
    visibility: visible;
  }
}

@keyframes shrink-spin {
  0% {
    rotate: 0;
    scale: 1;
  }

  50% {
    rotate: 360deg;
    scale: 0.9;
  }

  100% {
    rotate: 0;
    scale: 1;
  }
}

.fadeIn {
  @include animate($name: fadeIn,
    $tfunc: ease,
    $mode: forwards);
}

.fadeInLeft {
  @include animate($name: fadeInLeft,
    $tfunc: ease,
    $mode: forwards);
}

.fadeInRight {
  @include animate($name: fadeInRight,
    $tfunc: ease,
    $mode: forwards);
}