@mixin animate($name: fadeIn, $duration: 100ms, $tfunc: ease, $mode: forwards, $delay: 0ms) {
  animation-name: $name;
  animation-duration: $duration;
  animation-timing-function: $tfunc;
  animation-fill-mode: $mode;
  animation-delay: $delay;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes fadeInBottom {
  from {
    bottom: -5em;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
    visibility: visible;
  }
}

@keyframes fadeInTop {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}