@use "sass:map";
@use "./variable" as var;

.bg-none {
  background: none;
}

.bg-primary {
  background-color: var(--bg-color-primary) !important;
}

.bg-secondary {
  background-color: var(--bg-color-secondary) !important;
}

.bg-invert {
  background-color: var(--bg-color-primary) !important;
  filter: invert(100%);
}

.bg-glassy {
  backdrop-filter: blur(10px);
  box-shadow: inset 0 0 5px var(--bg-opague-color);
  background-color: var(--bg-opague-color);
}

.bg-dark {
  background-color: rgba(map.get(var.$bg-colors, "dark-primary"), 0.5);
}
