@use "sass:map";
@use "@/styles/variables" as var;

.bg-none {
  background: none;
}

.bg-glassy {
  backdrop-filter: blur(10px);
  box-shadow: inset 0 0 5px var(--bg-opague-color);
  background-color: var(--bg-opague-color);
}

.backdrop {
  background-color: rgba(map.get(var.$bg-colors, "dark-primary"), 0.5);
}