.border {
  border: 1px solid var(--border-color-secondary) !important;

  &:hover {
    border-color: var(--border-color-primary) !important;
  }
}

.border-round {
  border-radius: 50%;
}

@for $i from 0 through 50 {
  .border-radius-#{$i} {
    border-radius: $i + px;
  }
}
