@use "./variable" as var;

.italic {
  font-style: italic;
}

.oblique {
  font-style: oblique;
}

@each $label, $size in var.$font-sizes {
  .font-size-#{$label} {
    font-size: $size;
  }
}

@for $i from 1 through 48 {
  .font-size-#{$i} {
    font-size: $i + px;
  }
}

@each $break-label, $break-pt in var.$break-pts {
  @media (max-width: #{$break-pt}px) {
    @each $font-label, $size in var.$font-sizes {
      .#{$break-label}\:font-size-#{$font-label} {
        font-size: $size !important;
      }
    }

    @for $i from 1 through 48 {
      .#{$break-label}\:font-size-#{$i} {
        font-size: $i + px !important;
      }
    }
  }
}
