@use "./variable" as var;

// positions
@each $position in var.$positions {
  .#{$position} {
    position: $position;
  }
}

// displays
@each $display in var.$displays {
  .#{$display} {
    display: $display;
  }
}

// top, right, bottom, left
@each $dir-label, $dir in var.$dirs {
  .#{$dir-label}-dvh {
    #{$dir}: 100dvh;
  }

  .#{$dir-label}-dvw {
    #{$dir}: 100dvw;
  }

  @for $i from -200 through 200 {
    .#{$dir-label}-#{$i} {
      #{$dir}: $i + px;
    }
  }

  @for $i from 1 through 99 {
    .#{$dir-label}-0\.#{$i} {
      #{$dir}: $i * 1% !important;
    }

    .#{$dir-label}-#{$i}dvw {
      #{$dir}: $i + dvw !important;
    }

    .#{$dir-label}-#{$i}dvh {
      #{$dir}: $i + dvh !important;
    }
  }
}

// flex
.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

@each $modifier-label, $modifier in var.$modifiers {
  .a-#{$modifier-label} {
    align-items: $modifier;
  }

  .j-#{$modifier-label} {
    justify-content: $modifier;
  }
}

@for $i from 1 through 50 {
  .gap-#{$i} {
    gap: $i + px;
  }
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.flex-wrap {
  flex-wrap: wrap;
}

// grid
@for $i from 0 through 5 {
  .grid-cols-#{$i} {
    grid-template-columns: repeat($i, minmax(0, 1fr));
  }

  .col-span-#{$i} {
    grid-column: span $i;
  }

  .grid-rows-#{$i} {
    grid-template-rows: repeat($i, minmax(0, 1fr));
  }

  .row-span-#{$i} {
    grid-row: span $i;
  }
}

// z-index
@for $z from -100 through 100 {
  .z-#{$z} {
    z-index: $z;
  }
}

// others
.a-content-center {
  align-content: center;
}

.j-items-center {
  justify-items: center;
}

@each $break-label, $break-pt in var.$break-pts {
  @media (max-width: #{$break-pt}px) {
    // positions
    @each $position in var.$positions {
      .#{$break-label}\:#{$position} {
        position: $position;
      }
    }

    // displays
    @each $display in var.$displays {
      .#{$break-label}\:#{$display} {
        display: $display;
      }
    }

    // top, right, bottom, left
    @each $dir-label, $dir in var.$dirs {
      .#{$break-label}\:#{$dir-label}-dvh {
        #{$dir}: 100dvh;
      }

      .#{$break-label}\:#{$dir-label}-dvw {
        #{$dir}: 100dvw;
      }

      @for $i from 0 through 200 {
        .#{$break-label}\:#{$dir-label}-#{$i} {
          #{$dir}: $i + px;
        }
      }
    }

    // grid
    @for $i from 0 through 5 {
      .#{$break-label}\:grid-cols-#{$i} {
        grid-template-columns: repeat($i, minmax(0, 1fr));
      }

      .#{$break-label}\:col-span-#{$i} {
        grid-column: span $i;
      }

      .#{$break-label}\:grid-rows-#{$i} {
        grid-template-rows: repeat($i, minmax(0, 1fr));
      }

      .#{$break-label}\:row-span-#{$i} {
        grid-row: span $i;
      }
    }

    // z-index
    @for $z from -100 through 100 {
      .#{$break-label}\:z-#{$z} {
        z-index: $z;
      }
    }
  }
}
