@use "@/styles/variables" as var;

.o-0 {
  opacity: 0;
}

.o-1 {
  opacity: 1;
}

@each $break-label, $break-pt in var.$break-pts {
  @media (max-width: #{$break-pt}px) {
    .#{$break-label}\:o-0 {
      opacity: 0;
    }

    .#{$break-label}\:o-1 {
      opacity: 1;
    }
  }
}