// overflow
.overflow-h {
  overflow: hidden;
}

// border
.border-none {
  border: none;
}

// transition
@for $i from 100 through 200 {
  .tr-#{$i} {
    transition: all ease $i + ms;
  }
}

.tr-1000 {
  transition: all ease 1000ms;
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

// router-link
.router-link-exact-active span::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: -3px;
  width: calc(100% + 6px);
  height: 2px;
  background-color: var(--txt-color);
  transition: all 100ms;
}

// user-select
.user-select-none {
  user-select: none;
}

// cursor
.pointer {
  cursor: pointer;
}
