// overflow
.overflow-h {
  overflow: hidden;
}

.overflow-s {
  overflow: scroll;
}

// border
.border-none {
  border: none;
}

// transition
@for $i from 1 through 20 {
  @for $j from 0 through 20 {
    .tr-#{$i}-#{$j} {
      transition-property: all;
      transition-timing-function: linear;
      transition-duration: $i * 100ms;
      transition-delay: $j * 100ms;
    }
  }
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

.cover {
  object-fit: cover;
}

// router-link
.router-link-exact-active span::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: -3px;
  width: calc(100% + 6px);
  height: 2px;
  background-color: var(--txt-color);
  transition: all 100ms;
}

// user-select
.user-select-none {
  user-select: none;
}

// cursor
.pointer {
  cursor: pointer;
}

.pointer-none {
  pointer-events: none;
}
