.w-dvw {
  width: 100dvw;
}
.w-dvh {
  width: 100dvh;
}

.h-dvw {
  height: 100dvw;
}

.h-dvh {
  height: 100dvh;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.w-auto {
  width: auto;
}

.h-auto {
  height: auto;
}

@for $i from 0 through 500 {
  .w--#{$i} {
    width: calc(100% - $i * 1px);
  }

  .h--#{$i} {
    height: calc(100% - $i * 1px);
  }

  .w-#{$i} {
    width: $i + px;
  }

  .h-#{$i} {
    height: $i + px;
  }

  .wem-#{$i} {
    width: $i + em;
  }

  .hem-#{$i} {
    height: $i + em;
  }
}

@for $i from 1 through 99 {
  .w-0\.#{$i} {
    width: $i * 1% !important;
  }

  .h-0\.#{$i} {
    height: $i * 1% !important;
  }

  .w-#{$i}dvw {
    width: $i + dvw !important;
  }

  .w-#{$i}dvh {
    width: $i + dvh !important;
  }

  .h-#{$i}dvw {
    height: $i + dvw !important;
  }

  .h-#{$i}dvh {
    height: $i + dvh !important;
  }
}
