.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.txt-a-center {
  text-align: center;
}

.txt-a-start {
  text-align: start;
}

.txt-shadow {
  text-shadow: 1px 1px 1px rgb(0, 0, 0, 0.5);
}

.txt-wrap {
  text-wrap: wrap;
}

.txt-nowrap {
  text-wrap: nowrap;
}

@for $i from 0 through 9 {
  .ls-#{$i} {
    letter-spacing: $i + px;
  }

  .ls-0\.#{$i} {
    letter-spacing: $i * 0.1em;
  }

  .lh-1\.#{$i}em {
    line-height: calc(1em + $i * 0.1em) !important;
  }
}
