.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.txt-a-center {
  text-align: center;
}

.txt-a-start {
  text-align: start;
}

.txt-shadow {
  text-shadow: 1px 1px 1px rgb(0, 0, 0, 0.5);
}