@use "@/styles/variables.scss" as var;
@use "@/styles/transition.scss" as t;

.theme-light {
  @include t.transition((background-color, color), 100ms);
  --bg-color: #{var.$bg-light};
  --bg-color-opague: #{var.$bg-light-opague};
  --txt-color: #{var.$txt-light};
}

.theme-dark {
  @include t.transition((background-color, color), 100ms);
  --bg-color: #{var.$bg-dark};
  --bg-color-opague: #{var.$bg-dark-opague};
  --txt-color: #{var.$txt-dark};
}
