@use '@/styles/variables.scss' as var;

.theme-light {
  --bg-color: #{var.$bg-light};
  --txt-color: #{var.$txt-light};
  --border-color: #{var.$border-light};
  --btn-color: var.$btn-light;
  --btn-active-color: var.$btn-active-light;
}

.theme-dark {
  --bg-color: #{var.$bg-dark};
  --txt-color: #{var.$txt-dark};
  --border-color: #{var.$border-dark};
  --btn-color: var.$btn-dark;
  --btn-active-color: var.$btn-active-dark;
}