.fade-enter-active,
.fade-leave-active {
  transition: opacity 200ms ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.slide-from-right-enter-active,
.slide-from-right-leave-active {
  transition: right 200ms ease;
}

.slide-from-right-enter-from,
.slide-from-right-leave-to {
  right: -200px;
}

.slide-from-top-enter-active,
.slide-from-top-leave-active {
  transition: top 500ms ease;
  pointer-events: none;
}

.slide-from-top-enter-from,
.slide-from-top-leave-to {
  top: -50px;
}

.first-load-enter-active,
.first-load-leave-active {
  // loadingStore 3000ms first load duration
  transition: opacity 1500ms 1500ms ease;
}

.first-load-leave-to {
  opacity: 0;
}

.loading-enter-active,
.loading-leave-active {
  // loadingStore 500ms normal load duration
  transition: opacity 500ms ease;
}

.loading-enter-from,
.loading-leave-to {
  opacity: 0;
}
