@use '@/styles/variables.scss' as var;

@mixin transition($prop: all, $duration: var.$default-duration, $tfunc: ease, $delay: 0ms) {
  transition-property: $prop;
  transition-duration: $duration;
  transition-timing-function: $tfunc;
  transition-delay: $delay;
}