@use "sass:map";

$break-pts: (
  "sm": 640,
  "lg": 1024
);

$positions: relative, fixed, absolute;
$displays: block, inline-block, none, flex, grid;

$modifiers: (
  "start": start,
  "center": center,
  "around": space-around,
  "between": space-between,
  "evenly": space-evenly,
  "end": end
);

$dirs: (
  "t": top,
  "r": right,
  "b": bottom,
  "l": left
);

$font-sizes: (
  "xs": clamp(0.75rem, 1vw, 0.875rem),
  "sm": clamp(0.875rem, 1.2vw, 1rem),
  "md": clamp(1rem, 1.5vw, 1.25rem),
  "lg": clamp(1.25rem, 2vw, 1.5rem),
  "xl": clamp(1.5rem, 2.5vw, 2rem),
  "2xl": clamp(2rem, 3vw, 3rem),
  "4xl": clamp(2rem, 4vw + 1rem, 5rem),
  "giant": clamp(2rem, 5vw + 2rem, 7rem)
);

$bg-colors: (
  "light-primary": #fff,
  "light-secondary": rgb(250, 250, 250),
  "light-tertiary": rgb(240, 240, 240),
  "dark-primary": #111,
  "dark-secondary": #555,
  "dark-tertiary": #444
);

$bg-opague-colors: (
  "light": rgba(map.get($bg-colors, light-primary), 0.3),
  "dark": rgba(map.get($bg-colors, dark-secondary), 0.3)
);

$border-colors: (
  "light-primary": rgb(240, 240, 240),
  "light-secondary": rgb(230, 230, 230),
  "dark-primary": #444,
  "dark-secondary": #555
);

$txt-colors: (
  "light": #111,
  "dark": #fff
);

$shadow-colors: (
  "light": rgba(0, 0, 0, 0.3),
  "dark": rgba(200, 200, 200, 0.5)
);

$img-filter: (
  "light": invert(0%),
  "dark": invert(100%)
);

$mix-blend: (
  "light": darken,
  "dark": lighten
);
