@use "@/styles/style";

$card-width: 70dvw;
$card-height: 100dvh;
$card-border-radius: 13px 13px 0 0;
$card-bg-color: rgb(250, 250, 250);
$card-shadow: 0px 4px 8px var(--shadow-color);
$card-hover-shadow: 0px 8px 16px var(--shadow-color);
$card-color: black;

$card-half-height: 40dvh;
$card-details-width: 80%;
$card-details-padding-horizontal: 10%;
$card-details-padding-vertical: 2%;
$card-details-padding: $card-details-padding-vertical $card-details-padding-horizontal;

$card-title-font-size: style.$font-size-4xl;
$card-title-height: $card-title-font-size;

$card-btn-height: 10dvh;

$card-description-font-size: calc($card-title-font-size / 3);
$card-description-margin-top: 5dvh;
$card-description-height: calc($card-half-height - $card-title-height - $card-description-margin-top - $card-btn-height);

.card {
  @include style.flex(col, start);
  @include style.transition(all, 100ms);
  width: $card-width;
  height: $card-height;
  border-radius: $card-border-radius;
  background-color: $card-bg-color;
  box-shadow: $card-shadow;
  color: $card-color;
  text-decoration: none;
  overflow: hidden;
  user-select: none;

  .card-img-wrapper {
    position: relative;
    width: 100%;
    height: $card-half-height;

    img {
      min-width: 50%;
      min-height: 50%;
      transform-origin: top left;

      @if (--img-filter: invert(100%)) {
        --img-filter: invert(0%);
      }
    }
  }

  .card-details {
    width: $card-details-width;
    height: $card-half-height;
    padding: $card-details-padding;

    .card-title {
      width: 100%;
      height: $card-title-height;
      text-transform: capitalize;
      font-size: $card-title-font-size;
    }

    .card-descriptions {
      width: 100%;
      height: $card-description-height;
      margin-top: $card-description-margin-top;
      font-size: $card-description-font-size;
    }

    .card-btn {
      @include style.flex(row, center);
      justify-content: end;
      width: 100%;
      height: $card-btn-height;
      border: none;

      .arrow-wrapper {
        position: relative;
        width: $card-btn-height;
        height: $card-btn-height;

        img {
          min-width: 50%;
          min-height: 50%;

          @if (--img-filter: invert(100%)) {
            --img-filter: invert(0%);
          }
        }
      }
    }
  }

  &:hover {
    box-shadow: $card-hover-shadow;
  }
}