@use "@/styles/layout.scss" as layout;
@use "@/styles/hover.scss" as hover;
@use "@/styles/variables.scss" as var;
@use "@/styles/transition.scss" as t;

.a-hoverable {
  @include layout.flex(row, center);
  position: relative;
  width: 100%;
  height: var.$btn-height-md;
  font-size: inherit;
  color: inherit;
  text-decoration: none;

  &.underline-left {
    @include hover.underline(3px, 2px, var(--txt-color), left);

    &>* {
      @include t.transition(all, 100ms);
    }
  }

  &.underline-middle {
    @include hover.underline(3px, 2px, var(--txt-color), middle);

    &>* {
      @include t.transition(all, 100ms);
    }
  }

  img {
    @include layout.center-absolute();
    width: 50px;
    height: 50px;
    font-size: 1.2em;
  }

  span {
    position: relative;
    font-size: inherit;
    white-space: nowrap;
    text-transform: capitalize;
  }

  &.router-link-exact-active span::after {
    left: -5px;
    width: calc(100% + 10px);
  }
}