@use "@/styles/style";

$header-width: 100dvw;
$navbar-width: 400px;
$icon-width: 38px; // 2 char icon
$icon-margin: 16px;

$functions-width: 100px;
$functions-padding-right: 16px;

$functions-total-width: calc($functions-width + $functions-padding-right);
$icon-total-width: calc($icon-width + 2 * $icon-margin);

$sidebarToggleMaxWidth: calc($icon-total-width + $navbar-width + $functions-total-width);

$header-height: 50px;
$font-size: 16px;

.global-header {
  @include style.flex(row, between);
  position: fixed;
  width: $header-width;
  height: $header-height;
  background: none;
  font-size: $font-size;
  color: var(--txt-color);
  z-index: 100;
  
  .icon {
    position: absolute;
    left: 0;
    width: $icon-width;
    margin: auto $icon-margin;
    font-style: italic;
  }

  .navbar {
    @include style.flex(row, around);
    position: relative;
    width: $navbar-width;
    height: $header-height;
    margin-left: $icon-total-width;
    border-radius: $header-height;
  }

  .functions {
    @include style.flex(row, around);
    width: $functions-width;
    height: $header-height;
    padding-right: $functions-padding-right;
  }
  
  .toggle-sidebar {
    position: absolute;
    right: 0;
    display: none;
    background: none;
    border: none;
    color: inherit;
    font-size: 1.2rem;
    width: $header-height;
    height: $header-height;
    padding: 0;
    cursor: pointer;

    i::before {
      @include style.center-absolute;
    }
  }

  @media (max-width: $sidebarToggleMaxWidth) {
    .navbar {
      display: none;
    }

    .functions {
      display: none;
    }

    .toggle-sidebar {
      display: block;
    }
  }
}
