@use "@/styles/style.scss";

.projects {

  @for $i from 1 through 5 {
    &>*:nth-child(#{$i}) {
      position: fixed;
      bottom: -15dvh;
      transform: rotate(5deg * ($i - 1)) translate(5vw * ($i - 1), 2dvh * ($i - 1));
      z-index: 5 - $i;
    }

    &>*:first-child:hover {
      scale: 1.05;
      transform: rotate(-2deg);
    }
  }
}