@use "@/styles/style";
@use "../global-header/global-header.scss";

$sidebarToggleMaxWidth: global-header.$sidebarToggleMaxWidth;

$sidebar-padding-top: global-header.$header-height;
$sidebar-width: 200px;
$sidebar-height: calc(100dvh - $sidebar-padding-top);

$menu-padding-left: 5%;
$menu-font-size: style.$font-size-lg;

$functions-height: 50px;
$functions-margin-top: 24px;
$functions-padding-top: 12px;

$sidebar-z: global-header.$sidebar-z;

.global-sidebar {
  @include style.transition(all, 100ms);
  @include style.flex(col, start);
  @include style.glassy();
  align-items: start;
  position: absolute;
  top: 0;
  right: -$sidebar-width;
  padding-top: $sidebar-padding-top;
  width: $sidebar-width;
  height: $sidebar-height;
  color: var(--txt-color);
  z-index: $sidebar-z;

  &>*:not(.functions) {
    padding-left: $menu-padding-left;
    font-size: $menu-font-size;
  }

  .functions {
    @include style.flex(row, evenly);
    position: relative;
    width: $sidebar-width;
    height: $functions-height;
    margin-top: $functions-margin-top;
    padding-top: $functions-padding-top;

    // seperation line
    &::before {
      content: "";
      position: absolute;
      top: 0;
      width: 80%;
      height: 1px;
      background-color: var(--txt-color);
    }
  }

  // only allow sidebar active under ToggleMaxWidth
  @media (max-width: $sidebarToggleMaxWidth) {
    &.active {
      right: 0;
    }
  }
}