@use "@/styles/layout.scss" as layout;
@use "@/styles/variables.scss" as var;
@use "@/styles/transition.scss" as t;

.sidebar-bg {
  @include t.transition(opacity);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba($color: #000000, $alpha: 0.5);
  opacity: 0;
  z-index: -99;

  @media (max-width: var.$sidebarToggleMaxWidth) {
    &.active-bg {
      opacity: 1;
      z-index: 98;
    }
  }
}

.global-sidebar {
  @include layout.flex-col-start;
  @include t.transition((background-color, color, left));
  position: fixed;
  top: 0;
  left: 100%;
  width: var.$sidebar-width;
  height: 100vh;
  background-color: var(--bg-color);
  z-index: 99;

  .sidebar-up {
    @include layout.flex-col-center;
    align-items: end;
    width: 100%;
    height: auto;

    .toggle-sidebar {
      @include layout.flex-row-center;
      width: var.$btn-height;
      height: var.$btn-height;
      background-color: inherit;
      cursor: pointer;

      i {
        font-size: 20px;
        margin-bottom: 4px;
        color: var(--txt-color);
      }
    }

    .menu {
      @include layout.flex-col-evenly;
      width: 100%;
      height: auto;

      a {
        @include layout.flex-row-center;
        justify-content: start;
        width: 100%;
        height: var.$btn-height;
        margin: 0 0 16px 0;

        i {
          color: var(--txt-color);
          width: var.$btn-height;
        }

        span {
          color: var(--txt-color);
          line-height: 1.1em;
        }
      }
    }
  }

  .functions {
    @include layout.flex-row-evenly;
    width: 100%;
    height: var.$btn-height;
    margin-top: 15px;
    color: var(--txt-color);
  }

  @media (max-width: var.$sidebarToggleMaxWidth) {
    &.active {
      left: calc(100% - var.$sidebar-width);
    }
  }
}
