@use "@/styles/style" as style;

$btn-height: style.$btn-height-md;
$wrapper-height: $btn-height;

.a-hoverable {
  @include style.flex(row, center);
  width: auto;
  height: $btn-height;
  font-size: inherit;
  color: inherit;
  text-decoration: none;
  text-transform: capitalize;

  .img-wrapper {
    position: relative;
    width: $btn-height;
    height: $btn-height;
  }

  span {
    position: relative;
    align-content: center;
    font-size: inherit;
    text-align: center;
    white-space: nowrap;
    pointer-events: none;
  }

  &.pill {
    @include style.flex(row, start);
  }

  &.underline-left {
    @include style.underline(3px, 2px, var(--txt-color), left);
  }

  &.underline-middle {
    @include style.underline(3px, 2px, var(--txt-color), middle);
  }

  &.router-link-exact-active span::after {
    // adjustments to above underlines if router is active
    left: -3px;
    width: calc(100% + 6px);
  }
}