@mixin animate($name: fadeIn,
  $duration: 0ms,
  $tfunc: ease,
  $mode: forwards,
  $delay: 0ms,
  $iteration: 1) {
  animation-name: $name;
  animation-duration: $duration;
  animation-timing-function: $tfunc;
  animation-fill-mode: $mode;
  animation-delay: $delay;
  animation-iteration-count: $iteration;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeInLeft {
  from {
    left: -5em;
    opacity: 0;
  }

  to {
    left: 0;
    opacity: 1;
  }
}

@keyframes fadeInRight {
  from {
    right: -5em;
    opacity: 0;
  }

  to {
    right: 0;
    opacity: 1;
    visibility: visible;
  }
}

.fadeIn {
  @include animate($name: fadeIn,
    $tfunc: ease,
    $mode: forwards);
}

.fadeInLeft {
  @include animate($name: fadeInLeft,
    $tfunc: ease,
    $mode: forwards);
}

.fadeInRight {
  @include animate($name: fadeInRight,
    $tfunc: ease,
    $mode: forwards);
}

.shrink-spin {
  @include animate($name: shrink-spin,
    $tfunc: ease,
    $mode: both);
}

.fadeFromLeft {
  mask-image: linear-gradient(to right, black 0%, transparent 100%);
  mask-size: 200% 100%;
  mask-position: 0% 0%;
}