@use '@/styles/variables' as var;
@use '@/styles/layout.scss' as layout;
@use '@/styles/border.scss' as border;

.sidebar-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba($color: #000000, $alpha: .5);
  opacity: 0;
  transition-property: opacity; 
  transition-duration: 200ms;
  transition-timing-function: ease;
  z-index: -99;

  @media (max-width: var.$sidebarToggleMaxWidth) {
    &.active-bg { 
      opacity: 1;
      z-index: 98;
    }
  }
}

.global-sidebar {
  @include layout.flex-col-start;
  @include border.left;
  @include border.right;
  position: fixed;
  top: 0;
  left: 100%;
  width: var.$sidebar-width;
  height: 100vh;
  transition-property: left;
  transition-duration: 150ms;
  transition-timing-function: ease;
  z-index: 99;

  .sidebar-up {
    @include layout.flex-col-center;
    align-items: end;
    width: 100%;
    height: auto;

    .toggle-sidebar {
      @include layout.flex-center;
      width: var.$button-height;
      height: var.$button-height;
      background-color: inherit;
      cursor: pointer;

      i {
        height: var.$toggle-size;
        font-size: var.$toggle-size;
      }
    }

    .menu {
      @include layout.flex-col-evenly;
      width: 100%;
      height: var.$menu-height;

      a {
        @include layout.flex-center;
        justify-content: start;
        width: 100%;
        height: var.$button-height;
        margin: 0 0 var.$button-margin 0;
        
        i {
          width: var.$button-height;
        }

        span {
          line-height: 1.1em;
        }
      }
    }
  }

  .functions {
    @include layout.flex-evenly;
    width: 100%;
    height: var.$button-height;
    margin-top: 15px;
  }

  @media (max-width: var.$sidebarToggleMaxWidth) {
    &.active { 
      left: calc(100% - var.$sidebar-width);
    }
  }
}
