@use '@/styles/variables' as var;
@use '@/styles/layout' as layout;
@use '@/styles/border' as border;

.global-header {
  @include layout.flex-between;
  @include border.bottom;
  position: fixed;
  top: 0;
  width: var.$header-width;
  height: var.$header-height;
  z-index: 98;

  h1 {
    width: var.$logo-width;
    margin: 0 var.$logo-margin;
    font-style: italic;
    text-align: start;
    user-select: none;
  }

  .header-mid {
    @include layout.flex-center;
    height: 100%;
    
    a {
      @include layout.flex-center;
      width: var.$button-width;
      height: 100%;
      margin: 0 var.$button-margin;
      font-size: small;
    }
  }

  .functions {
    @include layout.flex-evenly;
    width: var.$functions-width;
  }

  .toggle-sidebar {
    display: none;
  }

  @media (max-width: var.$sidebarToggleMaxWidth) {
    .header-mid {
      display: none;
    }

    .functions {
      display: none;
    }

    .toggle-sidebar {
      @include layout.flex-center;
      width: var.$toggle-width;
      height: 100%;
      cursor: pointer;
      i {
        height: var.$toggle-size;
        font-size: var.$toggle-size;
      }
    }
  }
}