@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-around {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@mixin flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-evenly {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

@mixin flex-col-center {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
}