#Contents {
    position: relative;
    top: 10px;
    left: 60px;
    bottom: 0px;
    right: 0px;
    padding: 20px;
    width: calc(100% - 100px);
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, minmax(300px, 1fr));
    grid-template-rows: minmax(300px, calc(100vh - 87px));
    gap: 20px;
}
@media only screen and (min-width: 720px) and (max-width: 1360px) {
    #Contents {
        grid-template-columns: repeat(2, minmax(300px, 1fr));
        grid-template-rows: repeat(2, minmax(300px, calc((100vh - 107px) / 2)));
    }
}
@media only screen and (max-width: 720px){
    #Contents {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, minmax(300px, calc((100vh - 127px) / 4)));
    }
}

.TodoListContainer {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid;
    border-bottom: 1px solid;
}

.TodoHeader {
    position: relative;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid;
}

.TodoList {
    position: relative;
    width: 100%;
    height: 100%;
}

.TodoItemContainer {
    display: flex;
    margin: 3px 0 3px 0;
}

.TodoItem {
    flex: 1;
}