#Contents {
    position: relative;
    top: 10px;
    left: 60px;
    bottom: 0px;
    right: 0px;
    padding: 20px;
    width: calc(100% - 100px);
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, minmax(300px, 500px));
    grid-template-rows: minmax(300px, calc(100vh - 87px));
    gap: 20px;
    align-items: center;
    justify-content: space-evenly;
}
@media only screen and (min-width: 720px) and (max-width: 1360px) {
    #Contents {
        grid-template-columns: repeat(2, minmax(300px, 1fr));
        grid-template-rows: repeat(2, minmax(300px, calc((100vh - 107px) / 2)));
    }
}
@media only screen and (max-width: 720px){
    #Contents {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, minmax(300px, calc((100vh - 127px) / 4)));
    }
}

.TodoListContainer {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(150, 150, 150);
    border-radius: 10px;
}

.TodoHeader {
    position: relative;
    width: calc(100% - 10px);
    height: 50px;
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid rgb(150, 150, 150);
}

.HeaderTitle {
    position: relative;
    flex: 1;
    font-size: 30px;
}

.Add {
    position: relative;
    width: 36px;
    height: 36px;
    margin: 6px;
    border: none;
    font-size: 30px;
    background: none;
    -webkit-text-stroke: 1px rgb(150, 150, 150);
    color: cyan;
    cursor: pointer;
}

.Input {
    position: relative;
    margin-left: 50px;
    width: calc(100% - 100px);
    height: 30px;
    padding: none;
    font-size: 18px;
}

.TodoList {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.TodoItemContainer {
    position: relative;
    width: 100%;
    height: 30px;
    margin: 5px 0px 5px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.checkbox {
    position: relative;
    width: 20px;
    height: 20px;
    margin: 0px 15px 0px 15px;
    background: none;
    cursor: pointer;
    accent-color: rgb(20, 20, 20);
}

.TodoItem {
    flex: 1;
    font-size: 18px;
}

.delete {
    position: relative;
    width: 30px;
    height: 30px;
    margin: 0px 8px 0px 8px;
    border: none;
    font-size: 20px;
    background: none;
    color: cyan;
    cursor: pointer;
}